@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');


body{
    background: linear-gradient(rgba(4, 104, 107, 0.867), rgb(39, 59, 79));
}


.heading{
    background: #EDE9FE;
}

.tog{
    font-family: 'Nunito';
}


/* Heading */

h1{
    font-family: 'Nunito';
}
/* Heading */




.logo {
    font-family: 'Pacifico', cursive;
}


.c1{
    background: url(../assets/Hemispheres-Brain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-weight: bold;
    font-family: 'Nunito';
}


.c2{
    background: url(../assets/Level2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c3{
    background: url(../assets/level3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c4{
    background: url(../assets/level4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text:hover{
    background-color: rgba(4, 104, 107, 0.867);
    /* color: #fff; */
}

/* Accordion color */


/* ************************************************************************************ */
/* Colors level1 */

.b3{
    background: #B91C1C;
    margin-bottom: 0 !important; 
}

.b4{
    background: #991B1B;
    margin-bottom: 0 !important;
}
/* Colors level1 */


/* ************************************************************************************ */
/* Colors level2 */

.bl3{
    background: #1D4ED8;
    margin-bottom: 0 !important; 
}

.bl4{
    background: #1E3A8A;
    margin-bottom: 0 !important; 
}
/* Colors level2 */


/* ************************************************************************************ */

/* Colors level3 */
.bg3{
    background: #047857 !important;
    margin-bottom: 0 !important; 
}

.bg4{
    background: #065F46;
    margin-bottom: 0 !important; 
}

.id {
    background-color: rgba(48, 44, 44, 0.5);
    padding: 5px;
    border-radius: ;
}
/* Accordion color */