@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');




.tog{
    font-family: 'Nunito';
}


/* Heading */

h1{
    font-family: 'Nunito';
}
/* Heading */




.logo {
    font-family: 'Pacifico', cursive;
}


.c1{
    background: url(../assets/Hemispheres-Brain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-weight: bold;
    font-family: 'Nunito';
}


.c2{
    background: url(../assets/Level2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c3{
    background: url(../assets/level3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c4{
    background: url(../assets/level4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background: linear-gradient(rgba(4, 104, 107, 0.867), rgb(39, 59, 79));
}